@using JumpenoWebassembly.Shared.Jumpeno.Game
@using JumpenoWebassembly.Shared.Jumpeno.Entities
@using JumpenoWebassembly.Shared.Jumpeno.Utilities

@inject NavigationManager NavigationManager

<div class="container text-center bg-form">
    <div class="jumbotron text-center align-content-center">
        <h3>Lobby of "@Settings.GameName" - <span class="text-muted h4">@Settings.GameMode mode</span></h3>

        <table class="table" style="color: wheat;">
            <tr>
                <th scope="row">Game code</th>
                <td>@Settings.GameCode</td>
            </tr>
            <tr class="mb-5">
                <th scope="row">Game url</th>
                <td><a href="@GetUrl()">@GetUrl()</a></td>
            </tr>
            <tr>
                <th scope="row" style="vertical-align: middle;">QR code</th>
                <td>
                    <img src="@GetQRCode()" alt="QRcode" title="@GetUrl()" width="150" height="150" />
                </td>
            </tr>
        </table>

        <hr class="mb-3" style="background-color: wheat;" />

        @if (Info.StartTimerRunning && !Info.StoppedStartTimer) {
            <p class="text-info">Game starting in @Conversions.FramesToTime(Info.FramesToStart)</p>
        } else {
            <p class="text-info text-muted">Game starting in @Conversions.FramesToTime(Info.FramesToStart)</p>
        }
        @if (Info.DeleteTimerRunning) {
            <p class="text-warning">Game is being deleted cause to inactivity.</p>
        }
    </div>

    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width:@(GetProgressBar())%">
            Joined @Players.Count/@Settings.PlayersLimit
        </div>
    </div>

    <table class="table mb-3" style="color: wheat;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Badges</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Players.Count; i++) {
                if (Players[i] == Player) {
                    <tr class="table-dark">
                        <td>@(i + 1)</td>
                        <td>@Player.Name</td>
                        <td>
                            @if (Player.Id == Settings.CreatorId) {
                                <span class="badge badge-pill badge-dark">Owner</span>
                            }
                        </td>
                    </tr> 
                } else {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Players[i].Name</td>
                        <td>
                            @if (Players[i].Id == Settings.CreatorId) {
                                <span class="badge badge-pill badge-dark">Owner</span>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @if (Settings.CreatorId == Player.Id) {
        <div class="btn-group" role="group" aria-label="Creator options">
            @if (Players.Count > 1) {
                if (Settings.GameMode == Enums.GameMode.Player) {
                    if (Info.StoppedStartTimer) {
                        <button type="button" class="btn btn-info" @onclick="@SwitchTimer">Resume timer</button>
                    } else {
                        <button type="button" class="btn btn-info" @onclick="@SwitchTimer">Pause timer</button> 
                    }
                } else {
                    if (Info.StartTimerRunning) {
                        <button type="button" class="btn btn-info" @onclick="(() => Info.StartTimerRunning = false)">Stop timer</button> 
                    } else {
                        <button type="button" class="btn btn-info" @onclick="(() => Info.StartTimerRunning = true)">Start timer</button> 
                    }
                }
                <button type="button" class="btn btn-success" @onclick="@StartGame">Start</button>
             }
            <button type="button" class="btn btn-danger" @onclick="@DeleteGame">Stop</button>
        </div>
    }
    <button type="button" class="btn btn-warning" @onclick="@LeaveLobby">Leave</button>
    @if (Player.Id != Settings.CreatorId) {
        if (Player.Spectator) {
            <button type="button" class="btn btn-info" @onclick="@SwitchSpectating">Join as player</button> 
        } else {
            <button type="button" class="btn btn-info" @onclick="@SwitchSpectating">Spectate game</button>
        }
    }
</div>

@code { 
    [Parameter]
    public Player Player { get; set; }
    [Parameter]
    public LobbyInfo Info { get; set; }
    [Parameter]
    public GameSettings Settings { get; set; }
    [Parameter]
    public List<Player> Players { get; set; }
    [Parameter]
    public System.Action StartGame { get; set; }
    [Parameter]
    public System.Action LeaveLobby { get; set; }
    [Parameter]
    public System.Action DeleteGame { get; set; }

    protected int GetProgressBar()
    {
        return (int)Math.Ceiling(((double)Players.Count / Settings.PlayersLimit) * 100.0);
    }

    protected string GetUrl()
    {
        return NavigationManager.BaseUri + Settings.GameCode;
    }

    protected string GetQRCode()
    {
        return "https://api.qrserver.com/v1/create-qr-code/?data=" + GetUrl() + "&amp;size=150x150";
    }

    protected void SwitchTimer()
    {
        Info.StoppedStartTimer = !Info.StoppedStartTimer;
    }

    protected void SwitchSpectating()
    {
        //bool result = false;
        //if (Player.Spectator) {
        //    lock (Info) {
        //        result = Info.AddPlayer(Player);
        //    }
        //} else {
        //    Info.RemovePlayer(Player);
        //    result = true;
        //}
        //if (result) {
        //    Player.Spectator = !Player.Spectator;
        //}
    }
}
